<%= form_for(@user) do |f| %>
  <div class="input-field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="input-field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="input-field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>

  <%# if !@user.new_record? %>
    <div class="input-field">
      <%= f.label :active %><br />
      <%=   f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last%>
    </div>
  <%# end %>

  <div class="input-field">
    <%= f.label :role %><br />
    <%= f.select :role, User::ROLES %>
  </div>

  <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel',users_path, :class => 'button alert radius' %>
  </div>

<% end %>
