<div class="row">
<div class="col s8">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class='card-panel red-text red lighten-5'>
          <h5><%= pluralize(@user.errors.count, "error") %> prohibited this item from being saved:</h5>
   
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><i><%= msg %></i></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="input-field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="input-field">
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="input-field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="input-field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>

  <div class="input-field">
     <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.text_field :password_confirmation %>
  </div>

  <div class="input-field">
    <%= f.label :role %><br />
    <%# f.text_field :role, :value => "Customer" %>
    <%# f.select :role, User::ROLES, :prompt => "Select ..." %>
    <%= f.collection_select :role, User::ROLES, :last, :first %>

    <%# f.hidden_field :role, :value => "customer" %>

  </div>

  <%# if !@user.new_record? %>
    <div class="input-field">
      <%= f.label :active %><br />
      <%= f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last%>
    </div>
  <%# end %>



  <div class="form-actions">s
      <%= f.submit (@user.new_record? ? "Sign up" : "Update") %>
      <%= link_to 'Cancel',users_path, :class => 'button alert radius' %>
  </div>

<% end %>
</div>
</div>