<%= simple_form_for @item_price, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Price</legend>

    <%= f.input :price, label: 'New Price', input_html: {class: "avg"} %>

    <%# f.input :item_id, as: :hidden, input_html: { value: params[:item_id] } %>
    <%= f.input :item_id, as: :hidden, input_html: { value: params[:item_id] } %>

    <%= f.input :category, as: :hidden, input_html: { value: "wholesale" } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%# link_to 'Cancel', item_path(@item), :class => 'button alert radius' %>
      <%= link_to 'Cancel', :back, :class => 'button alert radius' %>
   
      <%# link_to 'Cancel', item_path(params[:item_id]), class: 'button tiny radius alert' %>
    </div>
  </fieldset>
<% end %>