<div class="row">
<div class="col s8">
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class='card-panel red-text red lighten-5'>
          <h5><%= pluralize(@order.errors.count, "error") %> prohibited this order from being placed:</h5>
   
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><i><%= msg %></i></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h4>Shipping Information</h4>
	<div class="input-field">
    <%= f.label :school_id %><br />
    <%= f.select :school_id, School.active.alphabetical.collect {|s| [s.name, s.id]},include_blank: true, :prompt => "Select ..." %>
    <%# f.collection_select :role, School.active.alphabetical, :last, :first %>
  </div>
  <div class="btn btn-black">
    <%= link_to 'Create New School', create_new_school_path %>
  </div>


  <br><hr><br>
  <h4>Payment Information</h4>
  <div class="input-field">
    <%= f.label :credit_card_number %><br />
    <%= f.number_field :credit_card_number %>
  </div>

  <div class="input-field">
    <%= f.label :expiration_year %><br />
    <%= f.number_field :expiration_year %>
  </div>

  <div class="input-field">
    <%= f.label :expiration_month %><br />
    <%= f.number_field :expiration_month %>
  </div>


  <%# f.hidden_field :user_id, :value => current_user %>
  

  <div class="form-actions">
      <%= f.submit "PLACE ORDER" %>
      <%= link_to 'Cancel',cart_path, :class => 'button alert radius' %>
  </div>

<% end %>
</div>
</div>