<div class="navbar-fixed customer-nav">
  <nav class="nav-extended white">
      <div class="container">

        <div class="left">
          <div class="nav-wrapper valign-wrapper white">
            <div class="brand-logo">
            <%= link_to image_tag("logo.png", :alt => "A&M", :class => "css"), home_path %>
            </div>

            <ul id="nav-mobile" class="nav-left hide-on-med-and-down">
              <li><%= link_to "PIECES", pieces_path %></li>
              <li><%= link_to "BOARDS", boards_path %></li>
              <li><%= link_to "CLOCKS", clocks_path %></li>
              <li><%= link_to "SUPPLIES", supplies_path %></li>
            </ul>
          </div>
        </div>

        <% if !logged_in? %>
          <div class="valign-wapper">
            <%= render :partial => "partials/nav/login_buttons" %>
          </div>
        <% elsif current_user.role?(:customer) %>

            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to 'Account', user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>

            <div class="right login">
              <div class="nav-wrapper valign-wrapper white">
                <ul class="hide-on-med-and-down">
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Hello, <%= current_user.first_name %>!<i class="material-icons right">arrow_drop_down</i></a></li>
                  <li><%= link_to "Cart", cart_path %></li>
                </ul>
              </div>
           </div>

        <% end %>     

 
      </div>

  </nav>
</div>
