<!-- <h3><%# @item.name %></h3> -->
<div class="row">
  
  <div class="col s4">
    <%= image_tag 'piece.jpg' %>
  </div>
  <div class="col s8">

    <p>
      <b>Description</b>: <%= @item.description %>
    </p>

    <p>
      <b>Price</b>: <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
    </p>


    <p>
      <b>Category</b>: <%= @item.category.capitalize %>
    </p>

    <p>
      <b>Color</b>: <%= @item.color.nil? ? 'N/A' : @item.color %>
    </p>

    <p>
      <b>Item Weight</b>: <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
    </p>

    <p>
      <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
    </p>
    
    <div class="btn btn-black">
      <% if !logged_in? %>
        <%= link_to 'Add to Cart', login_path %>
      <% elsif current_user.role?(:customer) %>
        <%= link_to 'Add to Cart', add_to_cart_path(@item.id) %>
      <% end %>
    </div>

  </div>
</div>