<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chess Warehouse :: <%= controller.controller_name.capitalize %></title>

     <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <script>
      $(document).ready(function() {
        $('select').material_select();
        $(".dropdown-button").dropdown();
      });
             
    </script>


  </head>

  <body>
     <%= render :partial => "partials/nav/nav" %>
    
    <div class="main container">
        <%# render :partial => "partials/page_header" %>
        <% render :partial => "partials/flash" %>
        <%= yield %>

    </div>
    <%= render partial: 'partials/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
